.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: var(--color-dark);
  background-color: var(--color-light);
  border: 1px solid var(--color-light);
  border-radius: var(--border-radius);
}

.button:hover {
  color: var(--color-light);
  background-color: transparent;
}

@media (max-width: 767px) {
  .button {
    padding-inline: 18px;
  }
}